In [1]:
from statsbombpy import sb
import pandas as pd

In [2]:
comps = sb.competitions()

/Users/bennett/Repositories/dcu-etl/venv/lib/python3.12/site-packages/statsbombpy/api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

In [3]:
comps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             74 non-null     int64
 1   season_id                  74 non-null     int64
 2   country_name               74 non-null     object
 3   competition_name           74 non-null     object
 4   competition_gender         74 non-null     object
 5   competition_youth          74 non-null     bool
 6   competition_international  74 non-null     bool
 7   season_name                74 non-null     object
 8   match_updated              74 non-null     object
 9   match_updated_360          56 non-null     object
 10  match_available_360        10 non-null     object
 11  match_available            74 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 6.1+ KB

In [5]:
comps['competition_id'].nunique()

21

In [6]:
master_key = comps['competition_id'].astype(str) + '-' + comps['season_id'].astype(str)

In [7]:
pd.Series(master_key)

0        9-281
1         9-27
2     1267-107
3         16-4
4         16-1
        ...
69       55-43
70       35-75
71      53-106
72      72-107
73       72-30
Length: 74, dtype: object

In [8]:
transformed_data = comps[['competition_id', 'season_id', 'country_name', 'competition_name']]
transformed_data.insert(0, 'master_key', master_key)

In [9]:
comps

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-07-15T14:15:54.671676,2024-07-15T14:17:00.877356,2024-07-15T14:17:00.877356,2024-07-15T14:15:54.671676
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-06-13T07:51:02.452825,None,None,2024-06-13T07:51:02.452825
3,16,4,Europe,Champions League,male,False,False,2018/2019,2024-06-12T07:44:38.559714,2021-06-13T16:17:31.694,None,2024-06-12T07:44:38.559714
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882
...,...,...,...,...,...,...,...,...,...,...,...,...
69,55,43,Europe,UEFA Euro,male,False,True,2020,2024-04-16T12:44:40.558402,2024-04-16T12:47:18.505110,2024-04-16T12:47:18.505110,2024-04-16T12:44:40.558402
70,35,75,Europe,UEFA Europa League,male,False,False,1988/1989,2024-02-12T14:45:05.702250,2021-06-13T16:17:31.694,None,2024-02-12T14:45:05.702250
71,53,106,Europe,UEFA Women's Euro,female,False,True,2022,2024-02-13T13:27:17.178263,2024-02-13T13:30:52.820588,2024-02-13T13:30:52.820588,2024-02-13T13:27:17.178263
72,72,107,International,Women's World Cup,female,False,True,2023,2024-07-14T16:59:48.469596,2024-07-14T17:01:38.887279,2024-07-14T17:01:38.887279,2024-07-14T16:59:48.469596
73,72,30,International,Women's World Cup,female,False,True,2019,2024-02-13T09:41:26.379767,2021-06-13T16:17:31.694,None,2024-02-13T09:41:26.379767

In [10]:
import warnings
warnings.filterwarnings('ignore')

matches = pd.concat([sb.matches(competition_id=comp['competition_id'], season_id=comp['season_id']) for i, comp in comps.iterrows()])
matches

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,3895302,2024-04-14,17:30:00.000,Germany - 1. Bundesliga,2023/2024,Bayer Leverkusen,Werder Bremen,5,0,available,...,2024-05-10T17:03:59.613154,29,Regular Season,BayArena,Harm Osmers,Xabier Alonso Olano,Ole Werner,1.1.0,2,2
1,3895292,2024-04-06,15:30:00.000,Germany - 1. Bundesliga,2023/2024,Union Berlin,Bayer Leverkusen,0,1,available,...,2024-05-12T21:08:37.897296,28,Regular Season,Stadion An der Alten Försterei,Benjamin Brand,Nenad Bjelica,Xabier Alonso Olano,1.1.0,2,2
2,3895333,2024-05-05,18:30:00.000,Germany - 1. Bundesliga,2023/2024,Eintracht Frankfurt,Bayer Leverkusen,1,5,available,...,2024-05-14T16:32:13.483516,32,Regular Season,Deutsche Bank Park,Christian Dingert,Dino Toppmöller,Xabier Alonso Olano,1.1.0,2,2
3,3895340,2024-05-12,20:30:00.000,Germany - 1. Bundesliga,2023/2024,Bochum,Bayer Leverkusen,0,5,available,...,2024-05-14T16:46:08.459843,33,Regular Season,Vonovia Ruhrstadion,Benjamin Brand,Heiko Butscher,Xabier Alonso Olano,1.1.0,2,2
4,3895348,2024-05-18,16:30:00.000,Germany - 1. Bundesliga,2023/2024,Bayer Leverkusen,Augsburg,2,1,available,...,2024-05-20T10:33:09.140760,34,Regular Season,BayArena,Matthias Jöllenbeck,Xabier Alonso Olano,Jess Christian Thorup,1.1.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,69199,2019-06-27,21:00:00.000,International - Women's World Cup,2019,Norway Women's,England Women's,0,3,available,...,2021-06-13T16:17:31.694,5,Regular Season,Stade Océane,Lucila Venegas Montes,Martin Sjögren,Phil Neville,1.1.0,2,2
48,69258,2019-07-02,21:00:00.000,International - Women's World Cup,2019,England Women's,United States Women's,1,2,available,...,2021-06-13T16:17:31.694,6,Semi-finals,Groupama Stadium,NaN,Phil Neville,Jillian Ellis,1.1.0,2,2
49,69284,2019-07-03,21:00:00.000,International - Women's World Cup,2019,Netherlands Women's,Sweden Women's,1,0,available,...,2021-06-13T16:17:31.694,6,Semi-finals,Groupama Stadium,Marie-Soleil Beaudoin,Sarina Glotzbach-Wiegman,Peter Gerhardsson,1.1.0,2,2
50,69205,2019-06-29,15:00:00.000,International - Women's World Cup,2019,Italy Women's,Netherlands Women's,0,2,available,...,2021-06-13T16:17:31.694,5,Regular Season,Stade du Hainaut,Claudia Umpiérrez,Milena Bertolini,Sarina Glotzbach-Wiegman,1.1.0,2,2
51,69161,2019-06-24,18:00:00.000,International - Women's World Cup,2019,Spain Women's,United States Women's,1,2,available,...,2021-06-13T16:17:31.694,4,Round of 16,Stade Auguste-Delaune II,Katalin Kulcsar,Jorge Vilda,Jillian Ellis,1.1.0,2,2

In [108]:
sb.competitions()[sb.competitions()['competition_id'] == 44]

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
61,44,107,United States of America,Major League Soccer,male,False,False,2023,2024-07-14T18:53:28.735163,2024-07-14T18:58:42.974543,2024-07-14T18:58:42.974543,2024-07-14T18:53:28.735163

In [21]:
event = sb.events(match_id=matches['match_id'].iloc[0])

In [25]:
event.columns

Index(['50_50', 'bad_behaviour_card', 'ball_receipt_outcome',
       'ball_recovery_recovery_failure', 'block_deflection',
       'block_save_block', 'carry_end_location', 'clearance_aerial_won',
       'clearance_body_part', 'clearance_head', 'clearance_left_foot',
       'clearance_right_foot', 'counterpress', 'dribble_nutmeg',
       'dribble_outcome', 'duel_outcome', 'duel_type', 'duration',
       'foul_committed_advantage', 'foul_committed_card',
       'foul_committed_penalty', 'foul_won_advantage', 'foul_won_defensive',
       'foul_won_penalty', 'goalkeeper_body_part', 'goalkeeper_end_location',
       'goalkeeper_outcome', 'goalkeeper_position', 'goalkeeper_technique',
       'goalkeeper_type', 'id', 'index', 'injury_stoppage_in_chain',
       'interception_outcome', 'location', 'match_id', 'minute', 'off_camera',
       'out', 'pass_aerial_won', 'pass_angle', 'pass_assisted_shot_id',
       'pass_body_part', 'pass_cross', 'pass_cut_back', 'pass_deflected',
       'pass_end_location', 'pass_goal_assist', 'pass_height',
       'pass_inswinging', 'pass_length', 'pass_outcome', 'pass_outswinging',
       'pass_recipient', 'pass_recipient_id', 'pass_shot_assist',
       'pass_switch', 'pass_technique', 'pass_through_ball', 'pass_type',
       'period', 'play_pattern', 'player', 'player_id', 'position',
       'possession', 'possession_team', 'possession_team_id', 'related_events',
       'second', 'shot_aerial_won', 'shot_body_part', 'shot_end_location',
       'shot_first_time', 'shot_freeze_frame', 'shot_key_pass_id',
       'shot_one_on_one', 'shot_outcome', 'shot_statsbomb_xg',
       'shot_technique', 'shot_type', 'substitution_outcome',
       'substitution_outcome_id', 'substitution_replacement',
       'substitution_replacement_id', 'tactics', 'team', 'team_id',
       'timestamp', 'type', 'under_pressure'],
      dtype='object')

In [26]:
substitutions = pd.concat(

,substitution_outcome_id,substitution_outcome,substitution_replacement_id,substitution_replacement
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
4218,NaN,NaN,NaN,NaN
4219,NaN,NaN,NaN,NaN
4220,NaN,NaN,NaN,NaN
4221,NaN,NaN,NaN,NaN
4222,NaN,NaN,NaN,NaN

In [ ]:
events = pd.concat([sb.events(match_id=match['match_id'])['substitution_outcome_id'] for i, match in matches.iterrows()])

## Players with their injury and timer they left

In [45]:
injury = sb.events(match_id=matches['match_id'].iloc[0])[['match_id', 'player_id', 'player', 'substitution_outcome', 'minute']].dropna()
injury

,match_id,player_id,player,substitution_outcome,minute
4210,3895302,33401.0,Amine Adli,Tactical,45
4211,3895302,41411.0,Nathan Tella,Tactical,61
4212,3895302,32289.0,Victor Okoh Boniface,Tactical,61
4213,3895302,28573.0,Felix Agu,Tactical,68
4214,3895302,34870.0,Nick Woltemade,Tactical,68
4215,3895302,38004.0,Piero Martín Hincapié Reyna,Tactical,75
4216,3895302,8826.0,Leonardo Bittencourt,Injury,76
4217,3895302,3500.0,Granit Xhaka,Tactical,76

In [65]:
injured_players = injury[injury['substitution_outcome'] == 'Injury']
injured_players

      match_id  player_id                player substitution_outcome  minute
4216   3895302     8826.0  Leonardo Bittencourt               Injury      76

## Dates & location info to link to weather stuff

In [49]:
matches[['match_id', 'match_date', 'kick_off', 'home_team', 'stadium']]

,match_id,match_date,kick_off,home_team,stadium
0,3895302,2024-04-14,17:30:00.000,Bayer Leverkusen,BayArena
1,3895292,2024-04-06,15:30:00.000,Union Berlin,Stadion An der Alten Försterei
2,3895333,2024-05-05,18:30:00.000,Eintracht Frankfurt,Deutsche Bank Park
3,3895340,2024-05-12,20:30:00.000,Bochum,Vonovia Ruhrstadion
4,3895348,2024-05-18,16:30:00.000,Bayer Leverkusen,BayArena
...,...,...,...,...,...
47,69199,2019-06-27,21:00:00.000,Norway Women's,Stade Océane
48,69258,2019-07-02,21:00:00.000,England Women's,Groupama Stadium
49,69284,2019-07-03,21:00:00.000,Netherlands Women's,Groupama Stadium
50,69205,2019-06-29,15:00:00.000,Italy Women's,Stade du Hainaut
51,69161,2019-06-24,18:00:00.000,Spain Women's,Stade Auguste-Delaune II

## Distance covered prior to sub

In [100]:
import numpy as np

injury_event = sb.events(match_id=3895302)

def distance_covered(injury_event):
    # Collect the x,y for the player at each recorded event prior to the injury
    player_movement_prior = injury_event[injury_event['player'].isin(injured_players['player']) & 
                                     injury_event['player'].map(injured_players.set_index('player')['minute']).ge(injury_event['minute'])].location

    df = pd.DataFrame(player_movement_prior.dropna().tolist(), columns=['x', 'y'])

    # Get the euclidean distance for the change in each event, where the sum is the total distance covered
    df['x_diff'] = df['x'].diff()
    df['y_diff'] = df['y'].diff()

    df['euclidean_distance'] = np.sqrt(df['x_diff']**2 + df['y_diff']**2)
    
    return df['euclidean_distance'].sum()

injury_event['distance_covered'] = distance_covered(injury_event)
final_event_data = injury_event[['match_id', 'player_id', 'player', 'substitution_outcome', 'minute', 'distance_covered']].dropna()
final_event_data = final_event_data[final_event_data['substitution_outcome'] == 'Injury']

In [101]:
etl_data = final_event_data.merge(matches[['match_id', 'match_date', 'kick_off', 'home_team', 'stadium']], on='match_id')
etl_data

,match_id,player_id,player,substitution_outcome,minute,distance_covered,match_date,kick_off,home_team,stadium
0,3895302,8826.0,Leonardo Bittencourt,Injury,76,6267.685542,2024-04-14,17:30:00.000,Bayer Leverkusen,BayArena

In [ ]:
from fuzzywuzzy